<?xml version="1.0" encoding="UTF-8"?>
<module id="9703" version="2020061500">
  <modulename>page</modulename>
  <sectionid>2714</sectionid>
  <sectionnumber>7</sectionnumber>
  <idnumber></idnumber>
  <added>1692234557</added>
  <score>0</score>
  <indent>0</indent>
  <visible>1</visible>
  <visibleoncoursepage>1</visibleoncoursepage>
  <visibleold>1</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <completion>2</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionview>1</completionview>
  <completionexpected>0</completionexpected>
  <availability>{"op":"&amp;","showc":[true],"c":[{"type":"date","d":"&gt;=","t":1738555200}]}</availability>
  <showdescription>0</showdescription>
  <tags>
  </tags>
</module>